{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Waiter/menu.css' %}">
    <title>Italian Truffle Restaurant</title>
</head>
<body>
    <div id="nav">
        <div id="company-name">
            Table {{table.name}}
        </div>
        <h1 style="text-align: center; width:calc(100% - 80px)">Italian Truffle Restaurant</h1>
        <div id="basket-container" style="position:relative; right:0;top:0;margin:10px 0px;cursor:pointer">
            <img src="{%static 'Waiter/Image/basket.png' %}" id="basket" alt="basket">Basket
        </div>
        <div id="completed-order-container" style="position:relative; right:0;top:0;margin:10px 20px 10px 0;cursor:pointer">
            <img src="{%static 'Waiter/Image/completed-order.png' %}" id="completed-order" alt="completed-order">Orders
        </div>
    </div>

    <div id="menu">
        {% for category in categories %}
        <a href="#{{category.name}}">
            <div id="category" name="{{category.name}}">{{category.name}}</div>
        </a>
        {% endfor %}
    </div>

    <div id="dish-container">
        {% csrf_token %}
        {% for category in categories %}
            <h2 class="category" id="{{category.name}}">{{category.name}}</h2>
            {% for dish in category.dishes %}
                <div id="dish">
                    <h2>{{dish.name}}</h2>
                    <div id="info">
                        <span id="price">£{{dish.price}} 
                            <div style="display: inline-block;" data-quantity="{{dish.quantity}}" data-dish_pk="{{dish.pk}}">
                                <button class="btn circle" id="minus" style="user-select:inherit;visibility:inherit">–</button>
                                <span id="quantity">{{dish.quantity}}</span>
                                <button class="btn circle" id="plus">+</button>
                            </div>
                        </span>
                    </div>
                    <div style="clear:both"></div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>



    <div id="basket-page-container">
        <div id="basket-page">  
            <h2 style="text-align:center;">Selected dishes
                <button class="btn circle" id="close" onclick="closeBasket()">X</button>
            </h2>
            {% if basket %}
                {% for dishes in basket.dishes_set.all %}
                <div id="dish">
                    <h2>{{dishes.dish.name}}</h2>
                    <div id="info">
                        <span id="price">£{{dishes.dish.price}} 
                            <div style="display: inline-block;" data-quantity="{{dish.quantity}}" data-dish_pk="{{dish.pk}}">
                                <button class="btn circle" id="minus" style="user-select:inherit;visibility:inherit">–</button>
                                <span id="quantity">{{dishes.quantity}}</span>
                                <button class="btn circle" id="plus">+</button>
                            </div>
                        </span>
                    </div>
                    <div style="clear:both"></div>
                </div>
                {% endfor %}  
                    <div id="dish">
                        <h2>Total</h2>
                        <div id="info">
                            <span class="total" id="price">£{{basket_price|floatformat:2}}</span>
                        </div>
                        <div style="clear:both"></div>
                    </div>  
                    <div style="margin:15px">
                        <label for="all_together" style="font-size: 20px;">All together</label>
                        <input type="checkbox" id="all_together">
                    </div>
                    <button class="btn" id="clear-basket" onclick="clearBasket({{basket.pk}})">Clear basket</button>
                    <button class="btn" id="order" onclick="orderBasket({{basket.pk}})">Order</button>
                {% else %}
                    <div id="dish">
                        <h2>Total</h2>
                        <div id="info">
                            <span class="total" id="price">£0.00
                            </span>
                        </div>
                        <div style="clear:both"></div>
                    </div>    
                    <div style="margin:15px">
                        <label for="all_together" style="font-size: 20px;">All together</label>
                        <input type="checkbox" id="all_together">
                    </div>
                    <button class="btn" id="clear-basket" onclick="alert('Your basket is empty.')">Clear basket</button>
                    <button class="btn" id="order" onclick="alert('Your basket is empty.')">Order</button> 
            {% endif %}
        </div>
    </div>

    <div id="order-page-container">
        <div id="order-page">  
            <h2 style="text-align:center;">Ordered dishes
                <button class="btn circle" id="close" onclick="closeBasket()">X</button>
            </h2>
            {% if order %}
                {% for dishes in order.dishes_set.all %}
                <div id="dish">
                    <h2>{{dishes.dish.name}}</h2>
                    <div id="info">
                        <span id="price">£{{dishes.dish.price}} 
                            <div style="display: inline-block;" data-quantity="{{dishes.quantity}}" data-dish_pk="{{dishes.dish.pk}}">
                                <span id="quantity"> x {{dishes.quantity}}</span>
                            </div>
                        </span>
                    </div>
                    <div style="clear:both"></div>
                </div>
                {% endfor %}    
                <div id="dish" style="margin-bottom:100px;">
                    <h2>Total</h2>
                    <div id="info">
                        <span id="price">£{{order_price|floatformat:2}}
                        </span>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            {% endif %}
        </div>
    </div>

    <script>
        const table_pk = "{{table.pk}}";
        {% if basket %}
            let value = '"{{tot_basket}}"';
            document.querySelector(':root').style.setProperty('--basket-number-items', value);
        {% endif %}
    </script>
    <script src="{% static 'Waiter/menu.js' %}"></script>
</body>
</html>