{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Waiter/selectTable.css' %}">
    <title>Italian Truffle Restaurant</title>
</head>
<body>
    <div id="table-container">
        <h1 style="text-align:center">Select a table</h1>
        {% for table in tables %}
            <div id="table-{{table.pk}}">{{table.name}}</div>
        {% endfor %}
    </div>

    <div style="position:fixed;bottom:0;width:100%; height:100px;background:whitesmoke">
        <button class="btn" id="next">Next</button>
        <div style="clear:both"></div>
    </div>


    <script src="{% static 'Waiter/selectTable.js' %}"></script>
    <!-- jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==" crossorigin="anonymous"></script>
</body>
</html>