{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Waiter/selectTable.css' %}">
    <title>Italian Truffle Restaurant</title>
</head>
<body>
    <div id="table-container">
        <h1 style="text-align:center">Select a table</h1>
        {% for table in tables %}
        {% if table.occupied %}
            <div style="background: #f7c871;" id="table-{{table.pk}}">{{table.name}}</div>
        {% else %}
            <div id="table-{{table.pk}}">{{table.name}}</div>
        {% endif %}
        {% endfor %}
    </div>

    <div style="position:fixed;bottom:0;width:100%; height:100px;background:whitesmoke">
        <button class="btn" id="next">Next</button>
        <div style="clear:both"></div>
    </div>


    <script src="{% static 'Waiter/selectTable.js' %}"></script>
</body>
</html>