<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    Hi {{name | safe}} <br>
    <br>
    I'm a staff from Italian Truffle Restaurant, I appreciate that you have taken time to message me!<br>
    <br>
    This email is sent by a bot, so do not reply to this email. <br>
    I will respond you as soon as possible. <br>
    <br>
    If you wish to contact us, please write to the following email:
    info@italiantrufflerestaurant.co.uk<br>
    Or contact us from our <a href="https://lucayan3.pythonanywhere.com/">Website</a><br>
    <br>
    Sincerely, <br>
    <br>
    Italian Truffle Restaurant
</body>
</html>