{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Chef/style.css' %}">
    <title>Italian Truffle Restaurant</title>
</head>
<body>
    <!--
    <h1 style="background-color: rgb(78 198 223);text-align:center;color:white;padding:20px">
        Italian Truffle Restaurant
    </h1>
    -->
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript" src="{% static "Chef/index.js" %}"></script>
</body>
</html>