{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Chef/style.css' %}">
    <title>Italian Truffle Restaurant</title>
</head>
<body>
    {% csrf_token %}
    <a href={% url 'logout' %} class="btn" style="background:#37b3e9; color:white; font-size:1.3em">Logout</a>
    <div id='order-container'>

    </div>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript" src="{% static "Chef/index.js" %}"></script>
</body>
</html>